<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Language Helper</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/css/post/core/bootstrap/bootstrap.css" />
            <link rel="stylesheet" href="~/css/post/site.css" />
            <link rel="stylesheet" href="~/css/post/homepage.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/post/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/post/homepage.css" />
        </environment>
        <environment names="Development">
            <script src="~/js/core/jquery/jquery.js"></script>
            <script src="~/js/core/bootstrap/bootstrap.js"></script>
            <script src="~/js/Home.js"></script>
            <script src="~/js/core/keycodes.js"></script>
            <script src="~/js/ioc/container.js"></script>
            <script src="~/js/services/http-service/ihttpservice.js"></script>
            <script src="~/js/services/http-service/jquery-httpservice.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/Home.js"></script>
            <script src="~/js/core/keycodes.js"></script>
            <script src="~/js/ioc/container.js"></script>
            <script src="~/js/services/http-service/ihttpservice.js"></script>
            <script src="~/js/services/http-service/jquery-httpservice.js"></script>
        </environment>
    </head>
    <body>
        @if (@ViewData["ShowNav"] == null || @ViewData["ShowNav"] == "true")
        {
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Account</a></li>
                    </ul>
                </div>
            </nav>
        }
        <div class="container body-content">
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
